body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2147 {
  position:absolute;
  left:30px;
  top:31px;
  width:320px;
  height:480px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  position:absolute;
  left:30px;
  top:109px;
  width:320px;
  height:544px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151 {
  position:absolute;
  left:30px;
  top:623px;
  width:320px;
  height:30px;
}
#u2151_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:326px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2152 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:35px;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2155 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:30px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2157 {
  position:absolute;
  left:127px;
  top:109px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2159 {
  position:absolute;
  left:40px;
  top:141px;
  width:300px;
  height:144px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:289px;
}
#u2161 {
  position:absolute;
  left:190px;
  top:295px;
  width:1px;
  height:288px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:136px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2163 {
  position:absolute;
  left:105px;
  top:295px;
  width:57px;
  height:16px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  position:absolute;
  left:105px;
  top:311px;
  width:75px;
  height:16px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  position:absolute;
  left:201px;
  top:342px;
  width:57px;
  height:16px;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:268px;
  top:342px;
  width:29px;
  height:16px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:210px;
  top:358px;
  width:75px;
  height:16px;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  position:absolute;
  left:84px;
  top:400px;
  width:57px;
  height:16px;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  position:absolute;
  left:151px;
  top:400px;
  width:29px;
  height:16px;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  position:absolute;
  left:93px;
  top:416px;
  width:75px;
  height:16px;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2179 {
  position:absolute;
  left:201px;
  top:446px;
  width:57px;
  height:16px;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2181 {
  position:absolute;
  left:268px;
  top:446px;
  width:29px;
  height:16px;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  position:absolute;
  left:210px;
  top:462px;
  width:75px;
  height:16px;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  position:absolute;
  left:84px;
  top:504px;
  width:57px;
  height:16px;
}
#u2186 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2187 {
  position:absolute;
  left:151px;
  top:504px;
  width:29px;
  height:16px;
}
#u2188 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2189 {
  position:absolute;
  left:93px;
  top:520px;
  width:75px;
  height:16px;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2191 {
  position:absolute;
  left:201px;
  top:567px;
  width:57px;
  height:16px;
}
#u2192 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2193 {
  position:absolute;
  left:52px;
  top:252px;
  width:259px;
  height:138px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:61px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2195 {
  position:absolute;
  left:113px;
  top:279px;
  width:155px;
  height:32px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2197 {
  position:absolute;
  left:70px;
  top:342px;
  width:92px;
  height:25px;
}
#u2197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2198 {
  position:absolute;
  left:201px;
  top:342px;
  width:92px;
  height:25px;
}
#u2198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2199 {
  position:absolute;
  left:448px;
  top:31px;
  width:320px;
  height:480px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  position:absolute;
  left:448px;
  top:109px;
  width:320px;
  height:544px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203 {
  position:absolute;
  left:448px;
  top:623px;
  width:320px;
  height:30px;
}
#u2203_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:326px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:35px;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2207 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:30px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2209 {
  position:absolute;
  left:545px;
  top:109px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2211 {
  position:absolute;
  left:458px;
  top:141px;
  width:300px;
  height:144px;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:289px;
}
#u2213 {
  position:absolute;
  left:608px;
  top:295px;
  width:1px;
  height:288px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:136px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215 {
  position:absolute;
  left:523px;
  top:295px;
  width:57px;
  height:16px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2217 {
  position:absolute;
  left:523px;
  top:311px;
  width:75px;
  height:16px;
}
#u2218 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2219 {
  position:absolute;
  left:619px;
  top:342px;
  width:57px;
  height:16px;
}
#u2220 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2221 {
  position:absolute;
  left:686px;
  top:342px;
  width:29px;
  height:16px;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2223 {
  position:absolute;
  left:628px;
  top:358px;
  width:75px;
  height:16px;
}
#u2224 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2225 {
  position:absolute;
  left:502px;
  top:400px;
  width:57px;
  height:16px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2227 {
  position:absolute;
  left:569px;
  top:400px;
  width:29px;
  height:16px;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2229 {
  position:absolute;
  left:511px;
  top:416px;
  width:75px;
  height:16px;
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2231 {
  position:absolute;
  left:619px;
  top:446px;
  width:57px;
  height:16px;
}
#u2232 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2233 {
  position:absolute;
  left:686px;
  top:446px;
  width:29px;
  height:16px;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2235 {
  position:absolute;
  left:628px;
  top:462px;
  width:75px;
  height:16px;
}
#u2236 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2237 {
  position:absolute;
  left:502px;
  top:504px;
  width:57px;
  height:16px;
}
#u2238 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2239 {
  position:absolute;
  left:569px;
  top:504px;
  width:29px;
  height:16px;
}
#u2240 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2241 {
  position:absolute;
  left:511px;
  top:520px;
  width:75px;
  height:16px;
}
#u2242 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2243 {
  position:absolute;
  left:619px;
  top:567px;
  width:57px;
  height:16px;
}
#u2244 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2245 {
  position:absolute;
  left:470px;
  top:252px;
  width:259px;
  height:138px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:61px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2247 {
  position:absolute;
  left:571px;
  top:295px;
  width:57px;
  height:16px;
}
#u2248 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2249 {
  position:absolute;
  left:554px;
  top:342px;
  width:92px;
  height:25px;
}
#u2249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2250_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:212px;
  height:25px;
}
#u2250 {
  position:absolute;
  left:311px;
  top:311px;
  width:200px;
  height:5px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
