body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1367px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:369px;
  top:70px;
  width:671px;
  height:381px;
}
#u869 {
  position:absolute;
  left:2px;
  top:182px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:247px;
  top:29px;
  width:793px;
  height:41px;
}
#u871 {
  position:absolute;
  left:2px;
  top:12px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u872 {
  position:absolute;
  left:247px;
  top:38px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u874 {
  position:absolute;
  left:925px;
  top:29px;
  width:114px;
  height:41px;
}
#u874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u874_input:disabled {
  color:grayText;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:369px;
  top:100px;
  width:671px;
  height:351px;
}
#u876 {
  position:absolute;
  left:2px;
  top:168px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:247px;
  top:70px;
  width:122px;
  height:381px;
}
#u878 {
  position:absolute;
  left:2px;
  top:182px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u879 {
  position:absolute;
  left:369px;
  top:70px;
  width:80px;
  height:30px;
  color:#1E1E1E;
}
#u880 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u881 {
  position:absolute;
  left:449px;
  top:70px;
  width:93px;
  height:30px;
  color:#000000;
}
#u882 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:406px;
  top:110px;
  width:57px;
  height:16px;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u885 {
  position:absolute;
  left:465px;
  top:110px;
  width:182px;
  height:25px;
}
#u885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:2px;
}
#u886 {
  position:absolute;
  left:369px;
  top:145px;
  width:671px;
  height:1px;
}
#u887 {
  position:absolute;
  left:2px;
  top:-8px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:393px;
  top:156px;
  width:71px;
  height:16px;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u890 {
  position:absolute;
  left:466px;
  top:156px;
  width:182px;
  height:25px;
}
#u890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:2px;
}
#u891 {
  position:absolute;
  left:369px;
  top:189px;
  width:671px;
  height:1px;
}
#u892 {
  position:absolute;
  left:2px;
  top:-8px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:427px;
  top:196px;
  width:29px;
  height:16px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:2px;
}
#u895 {
  position:absolute;
  left:369px;
  top:223px;
  width:671px;
  height:1px;
}
#u896 {
  position:absolute;
  left:2px;
  top:-8px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:387px;
  top:365px;
  width:140px;
  height:40px;
}
#u898 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  position:absolute;
  left:574px;
  top:365px;
  width:140px;
  height:40px;
}
#u900 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:1122px;
  top:129px;
  width:245px;
  height:225px;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u903 {
  position:absolute;
  left:466px;
  top:193px;
  width:182px;
  height:22px;
}
#u903_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u903_input:disabled {
  color:grayText;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:427px;
  top:231px;
  width:29px;
  height:16px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:2px;
}
#u906 {
  position:absolute;
  left:369px;
  top:258px;
  width:671px;
  height:1px;
}
#u907 {
  position:absolute;
  left:2px;
  top:-8px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908 {
  position:absolute;
  left:466px;
  top:228px;
  width:182px;
  height:22px;
}
#u908_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u908_input:disabled {
  color:grayText;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  position:absolute;
  left:424px;
  top:269px;
  width:43px;
  height:16px;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  position:absolute;
  left:478px;
  top:269px;
  width:43px;
  height:16px;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u913 {
  position:absolute;
  left:542px;
  top:70px;
  width:93px;
  height:30px;
  color:#FF0000;
}
#u914 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u915 {
  position:absolute;
  left:247px;
  top:70px;
  width:127px;
  height:275px;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u917 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u918 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#000000;
}
#u919 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u920 {
  position:absolute;
  left:0px;
  top:60px;
  width:122px;
  height:30px;
}
#u921 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u922 {
  position:absolute;
  left:0px;
  top:90px;
  width:122px;
  height:30px;
  color:#FF0000;
}
#u923 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u924 {
  position:absolute;
  left:0px;
  top:120px;
  width:122px;
  height:30px;
}
#u925 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u926 {
  position:absolute;
  left:0px;
  top:150px;
  width:122px;
  height:30px;
}
#u927 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u928 {
  position:absolute;
  left:0px;
  top:180px;
  width:122px;
  height:30px;
}
#u929 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u930 {
  position:absolute;
  left:0px;
  top:210px;
  width:122px;
  height:30px;
  color:#000000;
}
#u931 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u932 {
  position:absolute;
  left:0px;
  top:240px;
  width:122px;
  height:30px;
}
#u933 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
