<tc_include file="Common:head" />
<body>
<div class="aui-content verify-content aui-margin-l-15 aui-margin-r-15">
    <div class="inner-content aui-hide">
        <div class="verify-success">
            <p>已成功绑定你的账号</p>
            <p class="user-name"></p>
            <p class="stage-lebel"></p>
            <div class="aui-btn aui-btn-primary aui-btn-block go-btn">
                进入任务列表
            </div>
        </div>
        <div class="verify-error">
            <p>系统无法绑定您的账号，</p>
            <p>请联系管理员添加账户信息。</p>
        </div>
    </div>
    <div class="outer-content aui-hide">
        <div class="verify-success">
            <p>恭喜您，绑定成功！</p>
            <div class="aui-btn aui-btn-primary aui-btn-block go-btn">
                进入咨询列表
            </div>
        </div>
        <div class="verify-error">
            <p>系统无法绑定您的账号，</p>
            <p>请联系微信客服。</p>
        </div>
    </div>
</div>
</body>
<tc_include file="Common:script" />
<!-- <script type="text/javascript" src="__ROOT__/application/Html/Dist/js/md5.js" ></script> -->
<script type="text/javascript">
var taskUrl = "{:U('employee/index')}";
var outTaskUrl = "{:U('answer/index')}";
var expertUrl = "{:U('expert/index')}";
VerifyEmployee.init();
</script>
</html>