body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:247px;
  top:70px;
  width:122px;
  height:381px;
}
#u941 {
  position:absolute;
  left:2px;
  top:182px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:369px;
  top:70px;
  width:671px;
  height:381px;
}
#u943 {
  position:absolute;
  left:2px;
  top:182px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:247px;
  top:29px;
  width:793px;
  height:41px;
}
#u945 {
  position:absolute;
  left:2px;
  top:12px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u946 {
  position:absolute;
  left:247px;
  top:38px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:369px;
  top:100px;
  width:671px;
  height:351px;
}
#u949 {
  position:absolute;
  left:2px;
  top:168px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u950 {
  position:absolute;
  left:369px;
  top:70px;
  width:83px;
  height:30px;
  color:#FF0000;
}
#u951 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:452px;
  top:70px;
  width:93px;
  height:30px;
}
#u953 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:29px;
}
#u954 {
  position:absolute;
  left:379px;
  top:394px;
  width:361px;
  height:29px;
}
#u955 {
  position:absolute;
  left:2px;
  top:6px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956 {
  position:absolute;
  left:369px;
  top:110px;
  width:666px;
  height:183px;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u958 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u959 {
  position:absolute;
  left:83px;
  top:0px;
  width:83px;
  height:30px;
}
#u960 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u961 {
  position:absolute;
  left:166px;
  top:0px;
  width:53px;
  height:30px;
}
#u962 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u963 {
  position:absolute;
  left:219px;
  top:0px;
  width:64px;
  height:30px;
}
#u964 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u965 {
  position:absolute;
  left:283px;
  top:0px;
  width:97px;
  height:30px;
}
#u966 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u967 {
  position:absolute;
  left:380px;
  top:0px;
  width:140px;
  height:30px;
}
#u968 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u969 {
  position:absolute;
  left:520px;
  top:0px;
  width:141px;
  height:30px;
}
#u970 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u971 {
  position:absolute;
  left:0px;
  top:30px;
  width:83px;
  height:30px;
}
#u972 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u973 {
  position:absolute;
  left:83px;
  top:30px;
  width:83px;
  height:30px;
}
#u974 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u975 {
  position:absolute;
  left:166px;
  top:30px;
  width:53px;
  height:30px;
}
#u976 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u977 {
  position:absolute;
  left:219px;
  top:30px;
  width:64px;
  height:30px;
}
#u978 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u979 {
  position:absolute;
  left:283px;
  top:30px;
  width:97px;
  height:30px;
}
#u980 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u981 {
  position:absolute;
  left:380px;
  top:30px;
  width:140px;
  height:30px;
}
#u982 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u983 {
  position:absolute;
  left:520px;
  top:30px;
  width:141px;
  height:30px;
}
#u984 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u985 {
  position:absolute;
  left:0px;
  top:60px;
  width:83px;
  height:30px;
}
#u986 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u987 {
  position:absolute;
  left:83px;
  top:60px;
  width:83px;
  height:30px;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u989 {
  position:absolute;
  left:166px;
  top:60px;
  width:53px;
  height:30px;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u991 {
  position:absolute;
  left:219px;
  top:60px;
  width:64px;
  height:30px;
}
#u992 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u993 {
  position:absolute;
  left:283px;
  top:60px;
  width:97px;
  height:30px;
}
#u994 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u995 {
  position:absolute;
  left:380px;
  top:60px;
  width:140px;
  height:30px;
}
#u996 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u997 {
  position:absolute;
  left:520px;
  top:60px;
  width:141px;
  height:30px;
}
#u998 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u999 {
  position:absolute;
  left:0px;
  top:90px;
  width:83px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:83px;
  top:90px;
  width:83px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u1003 {
  position:absolute;
  left:166px;
  top:90px;
  width:53px;
  height:30px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:219px;
  top:90px;
  width:64px;
  height:30px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:283px;
  top:90px;
  width:97px;
  height:30px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1009 {
  position:absolute;
  left:380px;
  top:90px;
  width:140px;
  height:30px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1011 {
  position:absolute;
  left:520px;
  top:90px;
  width:141px;
  height:30px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:120px;
  width:83px;
  height:30px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u1015 {
  position:absolute;
  left:83px;
  top:120px;
  width:83px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:166px;
  top:120px;
  width:53px;
  height:30px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u1019 {
  position:absolute;
  left:219px;
  top:120px;
  width:64px;
  height:30px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1021 {
  position:absolute;
  left:283px;
  top:120px;
  width:97px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:380px;
  top:120px;
  width:140px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1025 {
  position:absolute;
  left:520px;
  top:120px;
  width:141px;
  height:30px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:150px;
  width:83px;
  height:28px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u1029 {
  position:absolute;
  left:83px;
  top:150px;
  width:83px;
  height:28px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u1031 {
  position:absolute;
  left:166px;
  top:150px;
  width:53px;
  height:28px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
}
#u1033 {
  position:absolute;
  left:219px;
  top:150px;
  width:64px;
  height:28px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u1035 {
  position:absolute;
  left:283px;
  top:150px;
  width:97px;
  height:28px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u1037 {
  position:absolute;
  left:380px;
  top:150px;
  width:140px;
  height:28px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
}
#u1039 {
  position:absolute;
  left:520px;
  top:150px;
  width:141px;
  height:28px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  position:absolute;
  left:925px;
  top:149px;
  width:29px;
  height:16px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1043 {
  position:absolute;
  left:984px;
  top:149px;
  width:29px;
  height:16px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:926px;
  top:177px;
  width:29px;
  height:16px;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1047 {
  position:absolute;
  left:985px;
  top:177px;
  width:29px;
  height:16px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1049 {
  position:absolute;
  left:925px;
  top:29px;
  width:114px;
  height:41px;
}
#u1049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1049_input:disabled {
  color:grayText;
}
#u1050 {
  position:absolute;
  left:247px;
  top:70px;
  width:127px;
  height:275px;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#000000;
}
#u1054 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:60px;
  width:122px;
  height:30px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:90px;
  width:122px;
  height:30px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1059 {
  position:absolute;
  left:0px;
  top:120px;
  width:122px;
  height:30px;
  color:#FF0000;
}
#u1060 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:150px;
  width:122px;
  height:30px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:180px;
  width:122px;
  height:30px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:210px;
  width:122px;
  height:30px;
  color:#000000;
}
#u1066 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:240px;
  width:122px;
  height:30px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
