body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2814 {
  position:absolute;
  left:30px;
  top:31px;
  width:320px;
  height:480px;
}
#u2815 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2816 {
  position:absolute;
  left:30px;
  top:109px;
  width:320px;
  height:544px;
}
#u2817 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2818 {
  position:absolute;
  left:30px;
  top:623px;
  width:320px;
  height:30px;
}
#u2818_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:326px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2819 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:35px;
}
#u2820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u2820 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u2821 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u2822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u2822 {
  position:absolute;
  left:107px;
  top:0px;
  width:107px;
  height:30px;
}
#u2823 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u2824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2824 {
  position:absolute;
  left:214px;
  top:0px;
  width:106px;
  height:30px;
}
#u2825 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u2826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2826 {
  position:absolute;
  left:50px;
  top:128px;
  width:57px;
  height:16px;
}
#u2827 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2828 {
  position:absolute;
  left:117px;
  top:124px;
  width:212px;
  height:25px;
}
#u2828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2829 {
  position:absolute;
  left:50px;
  top:169px;
  width:57px;
  height:16px;
}
#u2830 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2831 {
  position:absolute;
  left:117px;
  top:165px;
  width:212px;
  height:92px;
}
#u2831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:92px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2832 {
  position:absolute;
  left:50px;
  top:273px;
  width:99px;
  height:16px;
}
#u2833 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2834 {
  position:absolute;
  left:170px;
  top:313px;
  width:141px;
  height:25px;
}
#u2834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2835 {
  position:absolute;
  left:50px;
  top:316px;
  width:99px;
  height:22px;
}
#u2835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2835_input:disabled {
  color:grayText;
}
#u2836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2836 {
  position:absolute;
  left:50px;
  top:390px;
  width:261px;
  height:40px;
}
#u2837 {
  position:absolute;
  left:2px;
  top:12px;
  width:257px;
  word-wrap:break-word;
}
#u2838 {
  position:absolute;
  left:170px;
  top:348px;
  width:141px;
  height:25px;
}
#u2838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2839 {
  position:absolute;
  left:50px;
  top:351px;
  width:99px;
  height:22px;
}
#u2839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2839_input:disabled {
  color:grayText;
}
#u2840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2840 {
  position:absolute;
  left:360px;
  top:416px;
  width:553px;
  height:64px;
  color:#FF0000;
}
#u2841 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  white-space:nowrap;
}
#u2842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2842 {
  position:absolute;
  left:50px;
  top:487px;
  width:261px;
  height:40px;
}
#u2843 {
  position:absolute;
  left:2px;
  top:12px;
  width:257px;
  word-wrap:break-word;
}
#u2844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u2844 {
  position:absolute;
  left:321px;
  top:348px;
  width:20px;
  height:25px;
}
#u2845 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u2846 {
  position:absolute;
  left:321px;
  top:313px;
  width:20px;
  height:25px;
}
#u2847 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
